_Collapsible {  }

.Collapsible__trigger {
	margin: 10px;
	color: #002a15;
	background: #FFFBF1;
	
    display: block;
    font-weight: 400;
    text-decoration: none;
    position: relative;
    border: 1px solid #002a15;
    padding: 10px;
	
    &:after {
      font-family: 'FontAwesome';
      content: '\f107';
      position: absolute;
      right: 10px;
      top: 10px;
      display: block;
      transition: transform 200ms;
    }

    &.is-open {
      &:after {
        transform: rotateZ(180deg);
      }
    }
}

.Collapsible__contentInner {
  padding: 10px;
  border: 1px solid $lightGrey;
  border-top: 0;
  background-color: #FFFBF1;
  color: #002a15;

  p {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
